.scheduled-event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scheduled-event > .datetime {
  color: var(--primary);
  padding: calc(var(--spacing) * 2);
  width: 25%;
  text-align: center;
}

.scheduled-event > .datetime > .day {
  text-transform: lowercase;
  font-size: 50px;
  line-height: 50px;
  height: 50px;
}

.scheduled-event > .datetime > .time {
  font-size: 35px;
  line-height: 35px;
  height: 35px;
}

.scheduled-event > .content {
  color: var(--secondary);
  font-size: calc(var(--spacing) * 3);
  padding: var(--spacing-2);
  max-width: calc(75% - calc(var(--spacing) * 8));
  flex: 1 1 auto;
}

.scheduled-event .event-name {
  font-size: calc(var(--spacing) * 4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.scheduled-event .coach-name {
  padding-left: calc(var(--spacing) * 2);
}
